body {
    background-color: #020a18;
}

.circle {
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.circle.outer-circle {
    width: 220px;
    height: 220px;
    border: 2px solid rgb(94, 191, 209);
}

.circle.outer-inner-circle {
    width: 180px;
    height: 180px;
    border: 2px solid rgb(94, 191, 209);
}

.circle.pink-circle {
    width: 160px;
    height: 160px;
    border: 2px solid rgb(224, 89, 112);
}

.circle.orange-circle {
    width: 130px;
    height: 130px;
    border: 2px solid rgb(193, 132, 19);
}

.circle.inner-circle {
    width: 90px;
    height: 90px;
    border: 2px solid rgba(169, 24, 169, 0.219);
}

.logo {
    width: 90px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}